{% from "macros/form_macros.html" import form_field_tb %}

<nav class="breadcrumb">
  <li>Account Settings</li>
  <span class="divider">/</span>
</nav>

<div class="row">
  <nav class="span3 columns">
    {% include "accounts/shared/menu.html" %}
  </nav>
  <section class="span8 columns">
    {% include "partials/messages.html" %}
    <form action="" method="POST">
      {{ form_field_tb(form.current) }}
      <hr />
      {{ form_field_tb(form.password) }}
      {{ form_field_tb(form.confirm) }}
      <div class="actions">
        <input type="submit" value="Save Changes" class="btn primary" />
      </div>
    </form>
  </section>
</div>
