<div class="row">
  <header class="span16 columns">
    <h1>Forgot Password</h1>
  </header>
  <div class="span7 columns">
    {% include "partials/messages.html" %}
    <form action="" method="POST">
      <div class="clearfix">
        <label for="email">Email</label>
        <div class="input">
          <input type="text" name="email" class="span4" />
        </div>
      </div>
      <div class="actions">
        <input type="submit" value="Send Rest Instructions" class="btn primary" />
      </div>
    </form>
  </div>
</div>
