{% macro form_field_label(field, class="") %}
  <label class="{{ class }}" for="{{ field.id }}">
    {{ field.label.text }}
    {% if field.flags.required %}
      <abbr title="This field is required.">*</abbr>
    {% endif %}
  </label>
{% endmacro %}

{% macro form_field_description(field) %}
  {% if field.description %}
    <span class="help-inline">
      {{ field.description }}
    </span>
  {% endif %}
{% endmacro %}

{% macro form_field_errors(field) %}
  {% if field.errors %}
    <ul class="errors">
      {% for error in field.errors %}
        <li>
          {{ error }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro form_field_boolean(field) %}
  {{ field(**kwargs) }}
  {{ form_field_label(field, 'boolean') }}
  {{ form_field_description(field) }}
  {{ form_field_errors(field) }}
{% endmacro %}

{# outputs twitter bootstrap compatible fields #}
{% macro bootstrap_form_field(field) %}
  <div class="clearfix{% if field.errors %} error{% endif %}">
    {{ form_field_label(field) }}
    <div class="input">
      {% if field.type == 'RadioField' %}
        {{ field(class='radio-group', **kwargs) }}
      {% else %}
        {{ field(**kwargs) }}
      {% endif %}
      {% if field.description %}
        <p class="help-inline">
          {{ field.description }}
        </p>
      {% endif %}
      {% if field.errors %}
        <br />
        <span class="help-inline">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro form_field(field) %}
  {% if field.type == 'BooleanField' %}
    {{ form_field_boolean(field, **kwargs) }}
  {% else %}
    {{ form_field_label(field) }}
    {% if field.type == 'RadioField' %}
      {{ field(class='radio-group', **kwargs) }}
    {% else %}
      {{ field(**kwargs) }}
    {% endif %}
    {{ form_field_description(field) }}
    {{ form_field_errors(field) }}
  {% endif %}
{% endmacro %}


{% macro form_field_td(field) %}
    {% if field.type == 'BooleanField' %}
        <td class="label"></td>
        <td class="field">
          {{ form_field_boolean(field, **kwargs) }}
        </td>
    {% else %}
        <td class="label">
          {{ form_field_label(field) }}
        </td>
        <td class="field"></td>
        {% if field.type == 'RadioField' %}
          {{ field(class='radio-group', **kwargs) }}
        {% else %}
          {{ field(**kwargs) }}
        {% endif %}
        {{ form_field_description(field) }}
        {{ form_field_errors(field) }}
    {% endif %}
{% endmacro %}


{% macro form_fields(fields, label_class='horiz', input_class='medium') %}
  {% for field in fields %}
    {% if field.type == 'HiddenField' %}
      {{ field() }}
    {% endif %}
  {% endfor %}
  <ol>
    {% for field in fields %}
      {% if field.type != 'HiddenField' %}
        <li class="{{ label_class }}">
          {{ form_field(field, class=input_class) }}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endmacro %}
